.header_right {
    grid-column: 2 / -1;
    padding-left: 10%;
    width: 90%;
    height: 100%;
    background-image: url("../../../../assets/illustration.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: -10vh;
    /* background-color: orange; */

}

.header_right img {
    width: 100%;
    margin-left: -5%;
}

@media (max-width: 1024px) {
    .header_right {
        background-position-y: 0vh;
    }
}

@media (max-width: 600px) {
    .header_right {
        display: none;
    }
}