.columns {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.columns_left {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}

.columns_right {
    grid-column: 2 / -1;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .columns {
        grid-template-columns: 100%;
    }

    .columns_left{
        grid-column: 1 / -1;
    }
    .columns_right {
        display: none;
    }
}